<div class="container at-container"><h1 class="cover-heading at-item">SIFORTECH</h1></div>
<p class="lead">Dengan Pelayanan Terbaik Siap Melayani Anda</p>
<p class="lead">
    <a class="btn btn-outline-danger" href="{{_Layout/Tentang_Saya.html}}>{{Tentang Saya}}" role="button"><i class="fa fa-user-circle" aria-hidden="true"></i> Tentang Saya</a>
    <a class="btn btn-outline-success" href="_{{_Layout/Hubungi_Saya.html}}>{{Hubungi Saya}}" role="button"><i class="fa fa-comments-o" aria-hidden="true"></i> Hubungi Saya</a>
</p>