<div class="inner">
  <p class="lead">
      <h5 class="text-align-center">Social Media</h5>
      <a class="btn btn-link-light" href="https://fb.com/" role="button"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
      <a class="btn btn-link-light" href="https://github.com" role="button"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a class="btn btn-link-light" href="https://google.com" role="button"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
      <a class="btn btn-link-light" href="https://linkin.com" role="button"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
  </p>
<p>SIFORTECH 2019</p>
</div>